body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 74px;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
}
h2 {
  font-size: 48px;
  font-weight: 700;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  position: fixed;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
}
header div img {
  border-radius: 50%;
}
header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 55px;
}
header ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.contact {
  background-color: #ce7636;
  padding: 12px 24px;
  border-radius: 4px;
}
.globalAccueil {
  position: absolute;
  top: 300px;
  left: 100px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 70vw;
}
#acceuil {
  width: 100%;
  background-color: #ce7636;
  color: white;
  position: relative;
}
#acceuil img {
  background-color: #ce7636;
  opacity: 0.3;
  max-width: 100%;
  height: 800px;
  object-fit: cover;
}
#acceuil h1 {
  font-size: 55px;
  width: 100%;
  font-weight: 700;
}

.btn {
  display: flex;
  gap: 48px;
}
.btn button {
  padding: 12px 24px;
  border-radius: 4px;
}
.btn-1 {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.btn-2 {
  background-color: white;
  color: #ce7636;
  border: none;
}
.btn-1:hover {
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
  transition: 1s;
}

.btn-2:hover {
  background-color: #ce7636;
  color: white;
  transition: 1s;
}

/***** SECTION SERVICE *****/

#service {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
}

#service img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  opacity: 0.5;
}
.image {
  background-color: rgb(206, 118, 54, 0.6);
}
.imgService {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/***** SECTION A PROPOS *****/

#apropos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 80vw;
}

#apropos img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

#apropos p {
  font-weight: 500;
}
.colRight {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.colRight button {
  padding: 12px 0;
  width: 10vw;
  background-color: #ce7636;
  color: white;
  border: none;
  border-radius: 4px;
}

/***** SECTION CONTACT *****/
